.login-screen {
  background-image: url("https://cdn.dribbble.com/users/5843340/screenshots/15406621/media/6d7e32f7ad2512e90f820a50b7e72d66.png");
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
