@import "../../colors";

.menus-table {
  width: 100%;
  border: 1px solid rgba(42,42,42, .5);
  th {
    border-bottom: 2px solid rgba(42,42,42, .4);
    padding-right:18px;
    padding-left: 18px;
  }
  td {
    text-align: center;
    padding: 0 18px;
  }
  &_actions {
    display: flex;
    justify-content: flex-end;
    button {
      color: white;
      border: none;
      height: 36px;
      margin: 2px 1px;
      span {
        padding-left: 8px;
      }
      &.btn-edit {
        background: $edit-color;
      }
      &.btn-delete {
        background: $delete-color;
      }
    }
  }
}
