@import "../../colors";

.sidebar-container{
  height: 100vh;
  left: 0;
  top: 0;
  background-color: $sidebar-color;
  color: $sidebar-text-color;
  width: 250px;

  .user-info-container{
    min-height: 120px;
    border-bottom: 2px solid ;
  }
  .sidebar-items{
    padding-left: 6px;
    padding-top: 8px;
  }
}
