//Dark
$primary-color:#424242;
$primary-text-color: #d53848;
$sidebar-color:#787878;
$sidebar-text-color: #f3f3f3;
$sidebar-hover-background-color:#212121;
$sidebar-active-color: #4949b0;
$edit-color: #1b859d;
$delete-color: #bd3d3d;
