//Dark
$primary-color: #e7e7e7;
$primary-text-color: #1e1e1e;
$sidebar-color: #2f3c4e;
$sidebar-text-color: #d5d5d5;
$sidebar-hover-background-color: #797bbe;
$sidebar-active-background-color: #3f4c5e;
$sidebar-active-color:white;
$edit-color: #17a2b8;
$delete-color: #bd3d3d;
$table-header: #2f3c4e;
$table-tr-background-hover-color: #ddd;
$table-tr-background-color: white;
$table-tr-background-alternate-color: #f2f2f2;
$table-color: black;
$navbar-background-color: white;
$pagination-active-background-color: #007bff;
$pagination-active-color: #007bff;
$success-background-color:#3fb13f;
$warning-background-color:#d39e00;
$error-background-color:#dc3545;
$accent-background-color:#17a2b8;