@import "../../colors";

.fab-button{
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 32px;
  text-align: center;
  line-height: 64px;
  font-size: 32px;
  right: 3px;
  bottom: 5px;
  color:white;
  user-select: none;
  cursor: pointer;
  &.success{
    background-color: $fab-success-background-color;
  }
  &.warning{
    background-color: $fab-warning-background-color;
  }
  &.error{
    background-color: $fab-error-background-color;
  }
  &.accent{
    background-color: $fab-accent-background-color;
  }
  &:hover{
    box-shadow: inset 0px 0px 64px 64px rgba(0, 0, 0, .2);
  }
}